# Core dependencies
torch  # For PyTorch functionality and model loading
torchaudio  # For audio processing
numpy  # For numerical operations
sounddevice  # For audio I/O
nltk  # For text processing
rich  # For console output

# Speech-to-Text (English)
lightning-whisper-mlx
#faster-whisper  # For speech recognition
mlx-lm  # For MLX-based language models
mlx  # Apple MLX framework

# Text-to-Speech (English)
ChatTTS  # For text-to-speech synthesis
#parler_tts @ git+https://github.com/huggingface/parler-tts.git  # For high-quality TTS

# Language Models
ollama

# Audio Processing
deepfilternet  # For noise reduction and audio enhancement
librosa  # For audio processing and feature extraction
resampy  # For high-quality audio resampling

# Project specific
#useful-moonshine @ git+https://github.com/usefulsensors/moonshine.git  # For audio processing utilities
